src/templates/includes/header.jade
header
    img(src="files/img/fdn.png" class="logo")
    .social-bar
        a(href="https://uk-ua.facebook.com/"): i(class="fa fa-facebook" aria-hidden="true")
        a(href="https://twitter.com/"): i(class="fa fa-twitter" aria-hidden="true")
        i(class="fa fa-shopping-cart" aria-hidden="true")
        i(class="fa fa-bars" aria-hidden="true" id="menuBar")

dist/includes/header.html
<header><img src="files/img/fdn.png" class="logo"/><div class="social-bar"><a href="https://uk-ua.facebook.com/"><i aria-hidden="true" class="fa fa-facebook"></i></a><a href="https://twitter.com/"><i aria-hidden="true" class="fa fa-twitter"></i></a><i aria-hidden="true" class="fa fa-shopping-cart"></i><i aria-hidden="true" id="menuBar" class="fa fa-bars"></i></div></header>
