src/templates/includes/mainContent1.jade
main
    div.section1
        div.rigth-block#rigth-block
            div.inform-block
                h1.
                     building the<br>
                     world around us
                div.line
                p.inform-text.
                     Still other clients have reserved for capital improvement projects and will work directly
                     with our Design and Engineering team.
                button.inform-btn= "read more"
            div.top-company-video
                div.circle
                    i(class="fa fa-caret-right" aria-hidden="true")
                p.comp-video= "company video"
        div.left-block
            div.top-slider
                i(class="fa fa-caret-right" aria-hidden="true")
                p.numeric-slide.
                    01<span class="number">/03</span>
                i(class="fa fa-caret-left" aria-hidden="true")
            div.menu#menu
                div.top-menu
                    h2= "navigation"
                    i(class="fa fa-times-circle-o" aria-hidden="true" id="times")
                div.main-menu
                    li: a(href="#") home
                    li: a(href="#")  services
                    i(class="fa fa-caret-right" aria-hidden="true")
                    li: a(href="#")  our works
                    i(class="fa fa-caret-right" aria-hidden="true")
                    li: a(href="#")  news & event
                    i(class="fa fa-caret-right" aria-hidden="true")
                    li: a(href="#")  work with us
                    li: a(href="#")  f.a.q
                    li: a(href="#")  contact us
                    li: a(href="#")  shop
                    i(class="fa fa-caret-right" aria-hidden="true")
                div.address
                    i(class="fa fa-map-marker" aria-hidden="true")
                    p.main-adress.
                        Stlemixthemes USA, Callifornia 20,
                        Firs Avenue, 2365 Callifornia,
                    p.telephone= "1 888 111 68 68"
                    p.schedule= "6:00 - 18:00 sunday CLOSED"
                    a(href="#" class="link")= "info@stylemixthemes.com"
                    input(type="text" name="search" placeholder="search" id="search")
                    i(class="fa fa-search" aria-hidden="true")

dist/includes/mainContent1.html
<main><div class="section1"><div id="rigth-block" class="rigth-block"><div class="inform-block"><h1>building the<br>
world around us</h1><div class="line"></div><p class="inform-text">Still other clients have reserved for capital improvement projects and will work directly
with our Design and Engineering team.</p><button class="inform-btn">read more</button></div><div class="top-company-video"><div class="circle"><i aria-hidden="true" class="fa fa-caret-right"></i></div><p class="comp-video">company video</p></div></div><div class="left-block"><div class="top-slider"><i aria-hidden="true" class="fa fa-caret-right"></i><p class="numeric-slide">01<span class="number">/03</span></p><i aria-hidden="true" class="fa fa-caret-left"></i></div><div id="menu" class="menu"><div class="top-menu"><h2>navigation</h2><i aria-hidden="true" id="times" class="fa fa-times-circle-o"></i></div><div class="main-menu"><li><a href="#">home</a></li><li><a href="#"> services</a></li><i aria-hidden="true" class="fa fa-caret-right"></i><li><a href="#"> our works</a></li><i aria-hidden="true" class="fa fa-caret-right"></i><li><a href="#"> news & event</a></li><i aria-hidden="true" class="fa fa-caret-right"></i><li><a href="#"> work with us</a></li><li><a href="#"> f.a.q</a></li><li><a href="#"> contact us</a></li><li><a href="#"> shop</a></li><i aria-hidden="true" class="fa fa-caret-right"></i></div><div class="address"><i aria-hidden="true" class="fa fa-map-marker"></i><p class="main-adress">Stlemixthemes USA, Callifornia 20,
Firs Avenue, 2365 Callifornia,</p><p class="telephone">1 888 111 68 68</p><p class="schedule">6:00 - 18:00 sunday CLOSED</p><a href="#" class="link">info@stylemixthemes.com</a><input type="text" name="search" placeholder="search" id="search"/><i aria-hidden="true" class="fa fa-search"></i></div></div></div></div></main>
