src/templates/links/mainContentLinks.jade
.section_1
    div.service-left-block
        div.news= "news & events"
    div.service-right-block
.main_section
    div.main-content
        div.text-slider
            p.data= "12 february,2015"
            h1.
                the daily reporter selects gilbane<br>
                building company as 2014 wisconsin<br>
                builder of the year
            p.line
            span.post= "Share this post"
            div.social-icon
                i(class="fa fa-facebook" aria-hidden="true")
                i(class="fa fa-pinterest" aria-hidden="true")
                i(class="fa fa-google-plus" aria-hidden="true")
                i(class="fa fa-twitter" aria-hidden="true")

        div.img-box
            div.left-img
            div.right-slider
                div.switch
                    i(class="fa fa-caret-right" aria-hidden="true")
                    p.numeric-slide.
                            03<span class="number">/06</span>
                    i(class="fa fa-caret-left" aria-hidden="true")
        div.comments-box

    aside
        div.switch-block
            i(class="fa fa-caret-right" aria-hidden="true")
            i(class="fa fa-caret-left" aria-hidden="true")
        div.price-block
            img(src="files/img/Icon.png" class='pdf')
            div.title= "download price"
        div.popular-post
            h2.
                popular<br>post
            p.year= "12 february, 2015"
            h3.
                Project Design and<br>
                Engineering Services
            p.comment= "23 comments"
            div.line-box
                div.line
                div.line
                div.line
        div.instagram
            i(class="fa fa-instagram" aria-hidden="true")
            p.instagram-title= "folow us on instagram"
        div.foto
            i(class="fa fa-caret-down" aria-hidden="true")
        div.top-company-video
            div.circle
                i(class="fa fa-caret-right" aria-hidden="true")
            p.comp-video= "company video"
        div.advertising
            h4.
                the best<br>
                architects<br>
                of the world<br>
                advise our<br>
                company

dist/links/mainContentLinks.html
<div class="section_1"><div class="service-left-block"><div class="news">news &amp; events</div></div><div class="service-right-block"></div></div><div class="main_section"><div class="main-content"><div class="text-slider"><p class="data">12 february,2015</p><h1>the daily reporter selects gilbane<br>
building company as 2014 wisconsin<br>
builder of the year</h1><p class="line"></p><span class="post">Share this post</span><div class="social-icon"><i aria-hidden="true" class="fa fa-facebook"></i><i aria-hidden="true" class="fa fa-pinterest"></i><i aria-hidden="true" class="fa fa-google-plus"></i><i aria-hidden="true" class="fa fa-twitter"></i></div></div><div class="img-box"><div class="left-img"></div><div class="right-slider"><div class="switch"><i aria-hidden="true" class="fa fa-caret-right"></i><p class="numeric-slide">03<span class="number">/06</span></p><i aria-hidden="true" class="fa fa-caret-left"></i></div></div></div><div class="comments-box"></div></div><aside><div class="switch-block"><i aria-hidden="true" class="fa fa-caret-right"></i><i aria-hidden="true" class="fa fa-caret-left"></i></div><div class="price-block"><img src="files/img/Icon.png" class="pdf"/><div class="title">download price</div></div><div class="popular-post"><h2>popular<br>post</h2><p class="year">12 february, 2015</p><h3>Project Design and<br>
Engineering Services</h3><p class="comment">23 comments</p><div class="line-box"><div class="line"></div><div class="line"></div><div class="line"></div></div></div><div class="instagram"><i aria-hidden="true" class="fa fa-instagram"></i><p class="instagram-title">folow us on instagram</p></div><div class="foto"><i aria-hidden="true" class="fa fa-caret-down"></i></div><div class="top-company-video"><div class="circle"><i aria-hidden="true" class="fa fa-caret-right"></i></div><p class="comp-video">company video</p></div><div class="advertising"><h4>the best<br>
architects<br>
of the world<br>
advise our<br>
company</h4></div></aside></div>
